@font-face {
    font-family: 'Rubik';
    src: url(fonts/Rubik,Work_Sans/Rubik/Rubik-VariableFont_wght.ttf) format(truetype);
    font-family: 'Work Sans';
    src: url(fonts/Rubik,Work_Sans/Work_Sans/WorkSans-VariableFont_wght.ttf) format(truetype);
}
* {
    background-color: hsl(0, 0%, 75%)
}
h1 {
    text-align: center;
    margin: 20px 0px 30px;
    padding: 0px 0px 30px;
    border-bottom: 5px solid black;
    font-family: 'Work Sans';
}
h2 {
    font-family: 'Work Sans';
}
.table {
    text-align: center;
    border-bottom: 3px solid black;
    padding: 0px 0px 30px;
    margin: 20px auto;
}
.list {
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 20px auto;
    padding: 30px;
}
.misc {
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 20px auto;
    padding: 30px;
}
.name {
    border: 2px solid black;
}
table {
    text-align: start;
    border: 2px solid red;
    text-indent: initial;
    border-collapse: separate;
    margin: 0px auto;
    padding: 2px;
    font-family: 'Rubik', sans-serif;
}
th {
    text-align: left;
    background-color: hsla(0, 50%, 50%, 0.5);
}
.desc {
    border-top: 1px dashed darkred;
}
.code {
    color: white;
    background-color: black;
    font-family: 'Rubik', serif;
}
